body {
  background-color: #191a1a;
  font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  margin: 1.2rem 0;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

p {
  margin-bottom: 1rem;
}

a {
  box-shadow: none;
}

.container {
  display: flex;
  flex-flow: row wrap;
}

.mapContainer {
  flex-grow: 2;
  height: 500px;
  position: relative;
}
.infoTable {
  background-color: #191A1A;
  color: #fff;
  flex-grow: 0;
  max-height: 500px;
  max-width: 50%;
  overflow-x: hidden;
  padding: 0.5rem;
}

.infoTable table {
  margin: 0;
  table-layout: auto;
  width: auto;
}
.infoTable table th, .infoTable table td {
  padding: 0.2rem 0.5rem;
}
.infoTable table th td:first-child, .infoTable table td:first-child {
  background-color: darkolivegreen;
}
.infoTable table th td:nth-child(2), .infoTable table td:nth-child(2) {
  background-color: darkolivegreen;
  color: gold;
}
.infoTable table th td:nth-child(3), .infoTable table td:nth-child(3) {
  background-color: darkolivegreen;
  color: coral;
}

.infoTable table tbody tr:last-child {
  text-decoration: underline;
}

.noteData {
  background: gray;
  color: mintcream;
	margin: 0.1rem;
	padding: 0.5rem 0.5rem 0.5rem 1.7rem;
}
.noteData h6 {
  color: darkorange;
}

/* @media all and (max-width: 800px) { */
  /* .container { */
    /* When on medium sized screens, we center it by evenly distributing empty space around items */
    /* justify-content: space-around; */
  /* } */
/* } */

/* Small screens */
@media all and (max-width: 860px) {
  .container {
    flex-direction: column;
  }

  .infoTable {
    max-width: 100%;
  }
}
